<!DOCTYPE html>
<html>

<head>

  <title>User Search Result</title>
  <link rel="stylesheet" type="text/css" href="./css/style.css">
</head>

<body>

  <header>
    <h1>User Search Result</h1>
    <div class="navbar-header">
      <a href="/">Home</a>
      <a href="users">All Users</a>
      <a href="search">Search</a>
      <a href="addUser">Add User</a>
    </div>
  </header>
  <section>
    <p>

      <% for(let i=0; i < print.length; i++){ %>

      <%  if (request.toLowerCase()==print[i].firstname.toLowerCase() || request.toLowerCase()==print[i].lastname.toLowerCase()) { %>

      <table>
        <tr>
          <ul>
            <h2><%= print[i].firstname %>  <%- print[i].lastname %></h2>
            <ul>
              First Name:
              <%= print[i].firstname %>
            </ul>
            <ul>
              Last Name:
              <%= print[i].lastname %>
            </ul>
            <ul>
              Email:
              <%= print[i].email %>
            </ul>
        </tr>
      </table>
<% } %>


<% } %>
    </p>


  </section>
  <footer>
    created by: Baukje Knol
  </footer>

</body>

</html>
